* {
    font-family: 'Roboto', sans-serif;
}
header {
    height: 50px;
    background-color: #212121;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
}
 