* {
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
    height: 50px;
}
nav {
    position: fixed; 
    width: 100%; 
    height: 50px;
    background-color: #212121;
    z-index: 2;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
}
.menu .menu_item {
     border-right: 2px dotted black;
     padding-right: 30px;
 }
.subheader {
    top: 50px; 
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    height: 84px;
}
.subheader .subheader_logo {
    display: block;
    min-width: 100%;
    margin-top: 10px;
}
.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    font-weight: 200;
    font-size: 13px;
    color: #FFFFFF;
}
.subheader .subheader_call {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
    white-space: nowrap;
}
.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}
.subheader .subheader_btn {
    margin-top: 19px;
    min-width: 100%;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo {
    min-height: 800px;
    background: url('../img/car_main.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}
.promo .promo_header {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;
}
.promo .promo_subheader  {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}
.promo .promo_descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 23px;
    max-width: 985px;
}
.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.reasons {
    padding: 71px 0 65px 0;
}
.label {
    margin: 0 28px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}
.reasons .reasons_block .reasons_descr {
    width: 343px;
}
.reasons .reasons_block .reasons_descr .reasons_subtitle {
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}
.reasons .reasons_block .reasons_descr .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}
.label_2 {
    margin: 0 570px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.label_3 {
    margin: 0 570px;
    background-color: white;
    color: black;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.subtitle {
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #222222;
}
.mobile {
    min-height: 864px;
    padding: 48px 0 79px 0;
    background: url("../img/mobile_bg.png") center center/cover no-repeat;
  }
  .mobile .row {
    margin-top: 32px;
  }
  .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px;
  }
  .mobile_item_1 {
    background: url("../img/png1.png") center center/cover no-repeat;
  }
  .mobile_item_2 {
    background: url("../img/png2.png") center center/cover no-repeat;
  }
  .mobile_item_3 {
    background: url("../img/png3.png") center center/cover no-repeat;
  }
  .mobile_item_4 {
    background: url("../img/png4.png") center center/cover no-repeat;
  }
  .mobile_item_5 {
    background: url("../img/png5.png") center center/cover no-repeat;
  }
  .mobile_item_6 {
    background: url("../img/png6.png") center center/cover no-repeat;
  }
  .mobile_item_subtitle {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-transform: uppercase;
    text-align: center;
  }
  .mobile_item_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 26px;
    height: 26px;
    background-color: #000000;
    margin: 0 auto;
    border-radius: 100%;
    cursor: pointer;
  }
.choice {
    min-height: 896px;
    background: url("/img/Frame\ 1.png") center center/cover no-repeat;
    padding: 57px 0 138px;
}
.choice_img {
    position: relative;
	display: block;
	margin: 56px auto 0 auto;
	z-index: 2
}
.choice_descr {
    text-align: center;
    color: #222222;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
}
.title.title_white {
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subtitle.subtitle_white {
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
}
.require {
    margin: 68px auto 84px;
}
.require_list {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #222222;
    list-style-image: url('/icons/blue.png');
}
.require_descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #1CA8C3;
}
.require_title {
    font-size: 22px;
    color: #1CA8C3;
    padding: 33px;
}
.require_title_2 {
    font-size: 22px;
    color: #FF5656;
    padding: 33px;
}
.require_list_2 {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #222222;
    list-style-image: url('/icons/red.png');
}
.world {
    position: relative;
    min-height: 720px;
    background-image:url('/img/map.png');
    padding: 48px 0 63px;
}
.world_link {
    position: absolute;
	left: 50%;
	transform: translateX(-50%);		
    bottom: 49px;
    text-align: center;
	font-size: 15px;
	font-weight: 400;		
    line-height: 68px;
	text-transform: uppercase;
	color: #1fbad6;
}
.footer {
    min-height: 155px;
}

.footer_wrapper {
    display: flex;
}
.footer_social {
    width: 160px;
	display: flex;
	justify-content: space-between;
    margin-left: 23px;
    margin-right: 115px;
    margin-top: 35px;
}
.footer_social_item {
    display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 4px 23px auto; 
	width: 35px;
	height: 35px;
	background-color: #070716;
	border-radius: 100%;

}
.footer_links {
    margin: 0 auto;
    text-align: center;
}
.footer_links_main {
    display: flex;
	justify-content: space-between;
	padding: 41px 43px 17px;
}
.footer_links_main a {
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.footer_links_sub a {
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    color: #999999;
    text-decoration: none;
    margin-left: 22px;
    margin-bottom: 19px;
}
.store_badge_link {
    text-decoration: none;
    margin-left: 7px;
}
.store_badge_image {
    height: 26px;
}
.footer_links_lang {
    font-size: 11px;
    line-height: 68px;
    text-transform: uppercase;

color: #1FBAD6;
}
.footer_mobile {
    margin-top: 38px;
    margin-right: 21px;
}
.footer_divider {
    background-color: #1FBAD6;
    height: 7px;
    width: 301px;
    margin: 13px auto 0 auto;
}