.footer_line {
    margin: 10px 0 30px;
    width: 300px;
    height: 7px;
    background-color: #1EACC7;
  }
  
  .socials {
    white-space: nowrap;
  }
  
  .footer {
    min-height: 156px;
  }
  
  
  .links {
    min-width: none;
  }
  
  
  .social_link  {
    font-size: 35px;
    color: black;
  }
  
  .links div a {
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .main_links {
    /* width: 500px; */
    display: flex;
    justify-content:space-around;
  }
  
  .secondary_links {
    /* width: 550px; */
    display: flex;
    justify-content:space-around;
  }
  
  .main_links a {
    color: #070716;
  }
  
  .secondary_links a {
    font-size: 11px;
    color: #999999;
  }
  
  .footer_store_links {
    width: 296px;
    height: 27px;
  }
  
  @media (min-width: 1200px) {
    .small {
      display:none;
    }
  }
  
  @media (max-width: 1199.98px) {
    .big {
      display: none;
    }
  }
  
  .small .socials div {
    display: flex;
    justify-content: center;
  }
  
  .small .store_lnks {
    display: flex;
    justify-content: center;
  }
  
  .small .links .wr {
    max-width: 380px;
    margin: 20px auto;
  }
  
  @media (max-width: 500px) {
    .small .links .wr {
      max-width: 100%;
      margin: unset;
      margin-top: 20px;
    }
  }
  
  .small .socials div a {
    margin: 0 10px;
  }